.team {
  background-color: $TeamBGColor;
}
.our-team-list .item + .item {
  margin-left: 30px;
}
.our-team-list .item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 24px;
  border-radius: 4px;
  width: 278px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.our-team-list .image {
  display: block;
  margin-bottom: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.our-team-list .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-list .text {
  margin-bottom: 16px;
  color: $SecondaryTextColor;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 207px;
  height: 44px;
}

.member-list .link {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-list .link > .link-icon {
  display: inline-block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-list .link:hover > .link-icon,
.member-list .link:focus > .link-icon {
  fill: $WhiteTextColor;
}
.member-list .link:hover,
.member-list .link:focus {
  background-color: $AccentColor;
}
