.footer-logo {
  display: block;
  margin-bottom: 10px;
  color: $AccentColor;
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.footer-logo-span {
  color: $WhiteTextColor;
}
