.footer-social {
  display: flex;
  padding-top: 21px;
  padding-bottom: 56px;
}
.footer-social__item {
  display: flex;
  margin-right: 10px;
}
.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:last-child {
  margin-right: 0px;
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: $AccentColor;
}
.footer-social-icon {
  display: inline-block;
  fill: $WhiteTextColor;
}
