.subscribe {
  color: $WhiteTextColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  .forma {
    display: flex;
    flex-direction: column;
    margin-left: 102px;
  }
  b {
    color: $WhiteTextColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.forma-field {
  display: flex;
  margin-top: 12px;
}
.input-forma {
  margin-right: 12px;
  display: flex;
  &--inner {
    padding: 18px 12px;
    width: 358px;
    height: 50px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    color: SecondaryWhiteColor;
    font-size: 16px;
    outline: none;
    line-height: 1.9;
    letter-spacing: 0.03em;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
  }
}
.input-button {
  display: flex;
  &--submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    box-sizing: border-box;
    border: 1px solid $AccentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 900;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: $AccentColor;
    color: $WhiteTextColor;
  }
}

.plane {
  fill: $WhiteTextColor;
  background-color: $AccentColor;
  margin-left: 10px;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: $SecondaryTextColor;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}
